### range Function 

Create a sequence of numbers from 0 to 5, and print each item in the sequence

In [1]:
mylist = [1,2,3]

#### Iteration

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

Starting in 5 and going all the way up but not including 10

In [3]:
for num in range(5,10):
    print(num)

5
6
7
8
9

Step size of 2

In [4]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

Including 10

In [5]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

#### Generating Numbers

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

### enumerate Function

It adds a counter to an iterable and returns it in a form of enumerating object

In [7]:
index_count = 0

for letter in 'abcdefg':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f
At index 6 the letter is g

Without the enumerate Function

In [9]:
index_count = 0
word = 'abcdefg'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e
f
g

#### enumerate in form of Tuples

In [10]:
word = 'abcdefg'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')

Tuple unpacking

In [11]:
word = 'abcdefg'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f


6
g

### zip Function

It takes iterable or containers and returns a single iterator object, having mapped values from all the containers

In [15]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300,400,500]

Just running zip won't give back anything

In [16]:
zip(mylist1,mylist2,mylist3)

#### Iterating also return Tuples

In [17]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

Tuple unpacking

In [20]:
for num,letter,hund in zip(mylist1,mylist2,mylist3):
    print(num)
    print(letter)
    print(hund)
    print('\n')

1
a
100


2
b
200


3
c
300


4
d
400


5
e
500

#### What happens if these lists are uneven?

The zip function will only be able to zip together as far as the list. It will ignore the extra elements.

In [21]:
mylist1 = [1,2,3,4,5,6,7,8,9]
mylist2 = ['a','b','c','d','e']

In [22]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

#### Casting using list

Getting the list itself

In [23]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300,400,500]

In [24]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [25]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

### in Keyword

Checking an object is in a list

In [26]:
'x' in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
1 in [1,2,3]

True

It works in strings

In [29]:
'a' in 'Natan'

True

It works in dictionaries

In [30]:
'k1' in {'k1':1000}

True

In [31]:
mydict = {'k1':1000}

1000 in mydict.values()

True

In [32]:
1000 in mydict.keys()

False

### min Function

Reports the minimum value of a list

In [36]:
mylist = [10,20,30,40,50]

In [37]:
min(mylist)

10

### max Function

Reports the maximum value of a list

In [38]:
mylist = [60,70,80,90,100]

In [40]:
max(mylist)

100

### Random Library

Importing functions from a library

In [41]:
from random import shuffle

#### shuffle Function

In [43]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [44]:
shuffle(mylist)

In [45]:
mylist

[4, 1, 2, 9, 8, 10, 7, 5, 3, 6]

#### randint Function

In [46]:
from random import randint

In [47]:
randint(0,100)

96

In [48]:
randint(0,1000)

164

Saving the random number

In [49]:
mynum = randint(0,100000)

In [50]:
mynum

66397

### input Function

Allows user to give an input

In [51]:
input('Enter your secret word here: ')

Enter your secret word here: sea cucumber

'sea cucumber'

Assigning a variable

In [55]:
result = input('What is your age? ')

What is your age? 22

In [56]:
result

'22'

Input always report anything that is passed into it as a string

In [57]:
result = input('What is your favorite number? ')

What is your favorite number? 11

In [58]:
result

'11'

In [59]:
type(result)

str

Transforming to another data type

In [60]:
float(result)

11.0

In [61]:
int(result)

11

A more convenient way to do it

In [62]:
result = int(input('What is your favorite number? '))

What is your favorite number? 11

In [63]:
result

11

In [64]:
type(result)

int