### Creating a List

#### More extensive method

In [1]:
mystring = 'PYTHON'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['P', 'Y', 'T', 'H', 'O', 'N']

#### More efficient method

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['P', 'Y', 'T', 'H', 'O', 'N']

Another example:

In [9]:
mylist = [x for x in 'Natan']

In [10]:
mylist

['N', 'a', 't', 'a', 'n']

### With Numbers

In [11]:
mylist = [num for num in range(0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Grabbing the square version of these numbers:

In [13]:
mylist = [num**2 for num in range(0,11)]

In [14]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### With if Statement

Grabbing the even numbers:

In [15]:
mylist = [x for x in range(0,11) if x%2==0]

In [16]:
mylist

[0, 2, 4, 6, 8, 10]

Getting the square of the even numbers:

In [17]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

#### More complex example

List Comprehension:

In [19]:
celcius = [0,10,20,30,40,50]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

As a for Loop:

In [21]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [22]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

### if and else Statement inside a List Comprehension

*ATTENTION!* Sometimes it can become unreadable or confusing

In [24]:
results = [x if x%2==0 else 'Odd' for x in range(0,11)]

In [25]:
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

### Nested Loops in a List Comprehension

In [28]:
mylist = []

for x in [2,4,6]:
    for y in [20,40,60]:
        mylist.append(x*y)

In [29]:
mylist

[40, 80, 120, 80, 160, 240, 120, 240, 360]

Another example:

In [32]:
mylist = []

for x in [1,2,3]:
    for y in [1,10,100,1000]:
        mylist.append(x*y)

In [33]:
mylist

[1, 10, 100, 1000, 2, 20, 200, 2000, 3, 30, 300, 3000]

#### Doing the same with List Comprehension

*ATTENTION!* It compromises the readability

In [34]:
mylist = [x*y for x in [1,2,3] for y in [1,10,100,1000]]

In [35]:
mylist

[1, 10, 100, 1000, 2, 20, 200, 2000, 3, 30, 300, 3000]