### Creating Function

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

### Map Function

In [3]:
map(square,my_nums)

Iterating through

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

Transforming to a List

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

#### With Strings

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [7]:
names = ['Natan','Clara','Joseph','Anne','Mark']

In [8]:
list(map(splicer,names))

['N', 'C', 'EVEN', 'EVEN', 'EVEN']

### Filter Function

In [9]:
def check_even(num):
    return num%2 == 0

In [10]:
mynums = [1,2,3,4,5,6,7,8,9,10]

In [11]:
filter(check_even,mynums)

Transforming to a List

In [12]:
list(filter(check_even,mynums))

[2, 4, 6, 8, 10]

Iterating through

In [13]:
for n in filter(check_even,mynums):
    print(n)

2
4
6
8
10

### Lambda Expression

Creating a Function

In [19]:
def square(num):
    return num ** 2

In [20]:
square(3)

9

Turning it to a Lambda Expression

In [21]:
lambda num: num ** 2

In [22]:
square = lambda num: num ** 2

In [24]:
square(12)

144

Normally we don't name a Lambda Expression. Instead we use a conjunction with Map and Filter

In [29]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Converting check_even to a Lambda Expression

In [30]:
def check_even(num):
    return num%2 == 0

In [31]:
list(filter(lambda num:num%2==0,mynums))

[2, 4, 6, 8, 10]

#### With Strings

In [32]:
names

['Natan', 'Clara', 'Joseph', 'Anne', 'Mark']

Getting the initials

In [34]:
list(map(lambda letter:letter[0],names))

['N', 'C', 'J', 'A', 'M']

Reversing the names

In [35]:
list(map(lambda letter:letter[::-1],names))

['nataN', 'aralC', 'hpesoJ', 'ennA', 'kraM']